
<header>

   <nav id="myNavbar" class="navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" target="_blank" class="marginTopNavRight topNavLink"><span class="glyphicon glyphicon-user">&nbsp;</span> BECOME KAROBAR SELLER</a></li>
                    <li><a href="#" target="_blank" class="marginTopNavRight topNavLink"><span class="glyphicon glyphicon-phone">&nbsp;</span> 24X7 SUPPORT</a></li>
                    <li><a href="#" target="_blank" class="marginTopNavRight topNavLink"><span class="glyphicon glyphicon-map-marker">&nbsp;</span> TRACK YOUR ORDER</a></li>
                    <li><a href="#" target="_blank" class="marginTopNavRight topNavLink"><span class="glyphicon glyphicon-user">&nbsp;</span> LOGIN/REGISTER</a></li>
					<li><a href="#" target="_blank" class="marginTopNavRight topNavLink"><span class="glyphicon glyphicon-edit">&nbsp;</span> FEEDBACK</a></li>

                </ul>
            </div>
        </div>
    </nav>
	

 <!--class="section-affix" data-spy="affix" data-offset-top="197"-->

    <section class="section-affix" id="secondNav" data-spy="affix" data-offset-top="197">
        <div class="container">
        	<div class="row">
            	<div class="col-xs-3">
                    	<img src="images/logo.png" alt="logo"/>
                </div>
                <div class="col-xs-6">
                	<form>
                      <div class="form-group searchFormGroup">
                        <div class="col-xs-12">
                          <div class="input-group">
                            <input type="text" class="form-control searchInput" id="inputGroupSuccess2" placeholder="WHAT ARE YOU LOOKING FOR" 
aria-describedby="inputGroupSuccess2Status">
                          <span class="input-group-addon searchButton">Search  <span class="glyphicon glyphicon-search"></span> </span>    
                          </div>
                        </div>
                      </div>
                    </form>
                </div>
                <div class="col-xs-3">
                	<ul class="nav navbar-nav icon-nav">
                                    <li class="nav-right"><a href="#" target="_blank"><img src="images/icon2.png" alt=""/><br/>FREE<span class="opti"> K </span>SHUTTLE</a></li>
									<li class="nav-right1"><a href="#" target="_blank"><span class="cart-count">10 ITEMS</span><img src="images/icon-cart.png" alt=""/><br>YOUR 
										CART</a></li>
                    
                </ul>
                </div>
            </div>
        </div>
	</section>

</header>
        