<form id="createAttr">
<table id="item">
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Attribute Id</td>
			<td><input type="text" name="propertyKeyId"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Attribute Code</td>
			<td><input type="text" name="propertyCode" class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Attribute Name</td>
			<td><input type="text" name="propertyName"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Attribute Type</td>
			<td><input type="text" name="propertySetType"
				class="form-control font11" /></td>
			<td></td>
		</tr>
	</tbody>
</table>
<button type="button" class="btn btn-primary font11" data-bind="click: createAttr">Create</button>
</form>
