<form id="createItem">
<table id="item">
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Item ID</td>
			<td><input type="text" name="sku"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Item Name</td>
			<td><input type="text" name="name" class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Short Description</td>
			<td><input type="text" name="shortDesc"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Long Description</td>
			<td><input type="text" name="longDesc"
				class="form-control font11" /></td>
			<td></td>
		</tr>

		
		
		<tr>
			<td>Is in Stock?</td>
			<td><input type="text" name="inStock"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Max retail Price</td>
			<td><input type="text" name="msrpAmount"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Amount</td>
			<td><input type="text" name="priceAmount"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Discount</td>
			<td><input type="text" name="discount"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Estimated Shipping Time</td>
			<td><input type="text" name="estimateShipTime"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Source</td>
			<td><input type="text" name="source"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Special Notes</td>
			<td><input type="text" name="specialNotes"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Tax Code</td>
			<td><input type="text" name="taxCode"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Is Visible</td>
			<td><input type="text" name="visible"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		

	</tbody>
</table>





<button type="button" class="btn btn-primary font11" data-bind="click: createItem">Create</button>
</form>
