<div class="container">
    <form id="iziwearForm">
        <table id="iziwearTable">
            <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Izi Wear Id</td>
                <td><input type="text" name="iziWearId"
                           class="form-control font11" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Logo Details</td>
                <td><input type="text" name="iziWearLogoDetails" class="form-control font11" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Wash Instruction</td>
                <td><input type="textarea" name="iziWearWashInstruction"
                           class="form-control font11" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Size Chart Template</td>
                <td><input type="textarea" name="iziWearSizeChartTemplate"
                           class="form-control font11" /></td>
                <td></td>
            </tr>

            <tr>
                <td>Price Matrix Details</td>
                <td><input type="textarea" name="iziWearPriceMatrixDetails"
                           class="form-control font11" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Logo Type</td>
                <td><input type="text" name="iziWearLogoType"
                           class="form-control font11" /></td>
                <td></td>
            </tr>

            <tr>
                <td>Logo Text</td>
                <td><input type="text" name="iziWearText"
                           class="form-control font11" /></td>
                <td></td>
            </tr>
            <tr>
                <td>JSON Data</td>
                <td><input type="textarea" name="json_Data"
                           class="form-control font11" /></td>
                <td></td>
            </tr>


            </tbody>
        </table>

    </form>
</div>
