<form id="createNestedCategory">
<table id="nestedCategory">
	<thead>
		<tr>
			<th>Property</th>
			<th>Value</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Category ID</td>
			<td><input type="text" name="categoryId"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Sub Category Name</td>
			<td><input type="text" name="name" class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Short Description</td>
			<td><input type="text" name="shortDesc"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Long Description</td>
			<td><input type="text" name="longDesc"
				class="form-control font11" /></td>
			<td></td>
		</tr>

		<tr>
			<td>Large Image Alt text</td>
			<td><input type="text" name="largeImgAltText"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Large Image Name</td>
			<td><input type="text" name="largeImgName"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Image url</td>
			<td><input type="text" name="largeImgUrl"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Small Image Alt text</td>
			<td><input type="text" name="smallImgAltText"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Small Image Name</td>
			<td><input type="text" name="smallImgName"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Small Image url</td>
			<td><input type="text" name="smallImgUrl"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		
		<tr>
			<td>Today's Base Rate in INR/KG</td>
			<td><input type="text" name="tBaseRate"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Today's Cut Piece Rate in INR/KG</td>
			<td><input type="text" name="tCutRate"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Specific Gravity Considered GM/SQCM</td>
			<td><input type="text" name="specGravity"
				class="form-control font11" /></td>
			<td></td>
		</tr>
		<tr>
			<td>Minimum Dimension Allowed in MM</td>
			<td><input type="text" name="minDimension"
				class="form-control font11" /></td>
			<td></td>
		</tr>

	</tbody>
</table>
<button type="button" class="btn btn-primary font11" data-bind="click: createNestedCategory">Create</button>
</form>
