
	<body class="homePage" ng-app="uruApp">

	<header>
    
</header>
        
    <div class="container">
		
        <div class="row">
        	<div class="col-sm-12">
			<div class="clearfix">
                <div id="thumbcarousel" class="" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div data-target="#carousel" data-slide-to="0" class="thumb"><img src="images/item1.png"></div>
                            <div data-target="#carousel" data-slide-to="1" class="thumb"><img src="images/item2.png"></div>
                            <div data-target="#carousel" data-slide-to="2" class="thumb"><img src="images/item3.png"></div>
                            <div data-target="#carousel" data-slide-to="3" class="thumb"><img src="images/item4.png"></div>
                            <div data-target="#carousel" data-slide-to="4" class="thumb"><img src="images/item5.png"></div>
                        </div><!-- /item -->
                    </div><!-- /carousel-inner -->
                    <!--<a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>-->
                </div> <!-- /thumbcarousel -->
            </div><!-- /clearfix -->
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/slider.jpg">
                        </div>
                        <div class="item">
                            <img src="images/slider.jpg">
                        </div>
                        <div class="item">
                            <img src="images/slider.jpg">
                        </div>
                        <div class="item">
                            <img src="images/slider.jpg">
                        </div>
                        <div class="item">
                            <img src="images/slider.jpg">
                        </div>
                    </div>
                </div> 
            
            </div> <!-- /col-sm-12 -->
        </div>&nbsp;
        <div class="row">
                	<div class="col-xs-4"><div class="well productDiv"><img src="images/it1.png"></div></div>
                    <div class="col-xs-4"><div class="well productDiv"><img src="images/it2.png"></div></div>
                    <div class="col-xs-4"><div class="well productDiv"><img src="images/it3.png"></div></div>
        </div>
        
        
        <div class="row">
        	<div class="col-xs-3">
			<div class="well linkSiderbar">
				
				<h3 class="bhead-title">ALL PRODUCTS</h3>
                <!--Opti met-->
				<a href="optimet.html" target="optimet"><p class="bhead-title1"><strong>OPTI.<i>MET</i></strong></a></p>
				
					<div class="dropdown">
				<div class="btn-group">
						<p class="level-1"><a href="buy"><span class="opti">BUY </span>PRECISION CUT METAL PIECES</a></p>
						<p class="level-1"><a href="sell"><span class="opti">SELL </span>PRECISION CUT METAL PIECES</a></p>
						</div>
				</div>
				
               
				<!--Opti Wear-->
				<a href="optiwear.html"><p class="bhead-title1"><strong>OPTI.<i>WEAR</i></strong></a></p>
                <p class="level-1"><a href="#">INDUSTRIAL</a></p>
                <p class="level-2"><a href="#">HOSPITALS </a></p>
                <p class="level-2"><a href="#">HOTELS </a></p>
                <p class="level-2"><a href="#">MALLS &amp; SHOPS</a></p>
                <p class="level-2"><a href="#">EXECUTIVES</a></p>
                <p class="level-2"><a href="#">EDUCATIONAL</a></p>
                <p class="level-2"><a href="#">SPORTS AND CASUAL </a></p>
                <p class="level-2"><a href="#">OTHERS</a></p>
                <p class="level-0"></p>
				<!-- Opti BRAND-->
				<a href="#"><p class="bhead-title1"><strong>OPTI.<i>BRAND</i></strong></a></p>
                <p class="level-1"><a href="#">BRANDING AND GIFTING PRODUCTS</a></p>
				<p class="level-2"><a href="#">OFFICE STATIONARY</a></p>
                <p class="level-2"><a href="#">FACTORIES AND OFFICES </a></p>
                <p class="level-2"><a href="#">HOSPITALS </a></p>
                <p class="level-2"><a href="#">HOTELS </a></p>
                <p class="level-2"><a href="#">EDUCATIONAL INSTITUTES </a></p>
                <p class="level-2"><a href="#">DRIVERS </a></p>
                <p class="level-0"></p>
				<!--Opti Buy-->
                <a href="#"><p class="bhead-title1"><strong>OPTI.<i>BUY</i></strong></a></p>
                <p class="level-2"><a href="#">INDUSTRIAL</a></p>
                <p class="level-2"><a href="#">HOSPITAL, SURGICAL, MEDICAL</a></p>
                <p class="level-2"><a href="#">EDUCATIONAL TRADING INSTITUTES</a></p>
                <p class="level-2"><a href="#">HOSPITALITY</a></p>
                <p class="level-2"><a href="#">OFFICE SUPPLIES</a></p>
                <p class="level-2"><a href="#">CLEANING </a></p>
                <p class="level-2"><a href="#">DISPOSABLES</a></p>
                <p class="level-2"><a href="#">HARDWARE &amp; PLUMPING</a></p>
                <p class="level-2"><a href="#">SAFETY </a></p>
				<p class="level-2"><a href="#">PACKING &amp;SHIPPING</a></p>
                <p class="level-2"><a href="#">PAINTS &amp; CEMENTS</a></p>
                <p class="level-2"><a href="#">GARDEN DECOR </a></p>
                <p class="level-0"></p>
				<!--Opti trade-->
				<a href="#"><p class="bhead-title1"><strong>OPTI.<i>TRADE</i></strong></a></p>
                <p class="level-2"><a href="#">ABRASIVES</a></p>
                <p class="level-2"><a href="#">ADHESIVES, SEALANTS AND TAPE</a></p>
                <p class="level-2"><a href="#">APPLIANCES</a></p>
                <p class="level-2"><a href="#">BATTERIES</a></p>
                <p class="level-2"><a href="#">BEARINGS</a></p>
                <p class="level-2"><a href="#">ELECTRICAL</a></p>
                <p class="level-2"><a href="#">ELECTRONICS</a></p>
                <p class="level-2"><a href="#">FANS &amp; BLOWERS</a></p>
                <p class="level-2"><a href="#">FASTNERS</a></p>
                <p class="level-2"><a href="#">GARAGE EQUIPMENTS</a></p>
                <p class="level-2"><a href="#">GARDENING EQUIPMENTS</a></p>
                <p class="level-2"><a href="#">HAND TOOLS</a></p>
                <p class="level-2"><a href="#">HYDRAULICS</a></p>
                <p class="level-2"><a href="#">INDUSTRIAL AUTOMATION</a></p>
                <p class="level-2"><a href="#">INSTRUMENTATION</a></p>
                <p class="level-2"><a href="#">INVERTER &amp; UPS</a></p>
                <p class="level-2"><a href="#">LAB INSTRUMENTS</a></p>
                <p class="level-2"><a href="#">LIGHTING</a></p>
                <p class="level-2"><a href="#">LUBRICANTS &amp; OILS</a></p>
                <p class="level-2"><a href="#">MATERIAL PACKAGING &amp; HANDLING</a></p>
                <p class="level-2"><a href="#">MOTORS</a></p>
                <p class="level-2"><a href="#">PAINT, EQUIPMENT AND SUPPLIES</a></p>
                <p class="level-2"><a href="#">PNEUMATIC</a></p>
                <p class="level-2"><a href="#">POWER TOOLS</a></p>
                <p class="level-2"><a href="#">POWER TRANSMISSION</a></p>
                <p class="level-2"><a href="#">PUMPS</a></p>
				<p class="level-2"><a href="#">SEFETY AND SURVEILLANCE</a></p>
				<p class="level-2"><a href="#">SOLAR</a></p>
				<p class="level-2"><a href="#">TESTING AND MEASURE INSTRUMENTS</a></p>
				<p class="level-2"><a href="#">VALVES</a></p>
				<p class="level-2"><a href="#">WEIGHING</a></p>
				<p class="level-2"><a href="#">WELDING</a></p>
				
                </div>
            </div>
 <div class="col-xs-9">
            	<div class="well productSection" ng-controller="uruCtrl">
                <h2>SEE WHAT'S TRENDING</h2>
                
                <div class="row">
                	<div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p1.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
<ngcart-addtocart id="item1" name="Life-Safety1" price="15.29" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p2.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
	                            <img src="images/p3.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p4.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
	                            <img src="images/p5.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p6.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p3.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
	                            <img src="images/p2.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                    	<div class="well productItem">
                            <div class="proImage">
                            	<img src="images/p1.png"/>
                            </div>
                            <div class="proContent">
                            	<p class="proTitle">Life-Safety</p>
                                <p class="proDiscription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <p class="proPrice">Rs. 480 <span class="perOff">20%</span>  <span class="proIcons"><img src="images/icon4.png" alt="">  <img src="images/icon1.png" alt=""></span></p>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                  	<div class="col-xs-12">
                    	<div class="well middleImage">
                        	<img src="images/banner2.png" alt=""/>
                        </div>
                    </div>
                  </div>
                  
                </div>
            </div>
        </div>
      </div>      
        <!--  TEMPALATES -->
<!--  TEMPALATES -->
<!--  TEMPALATES -->

<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">
 
    <div class="col-md-6">{{ ngCart.getTotalItems() }}
        <ng-pluralize count="ngCart.getTotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize>
        <br />{{ ngCart.totalCost() | currency }}
    </div>
</div>
</script>


<script type="text/ng-template" id="template/ngCart/cart.html">
<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    Your cart is empty
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">

        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td>{{ item.getName() }}</td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>
</div>

</script>

<script type="text/ng-template" id="template/ngCart/addtocart.html"><div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</script>

<script type="text/ng-template" id="template/ngCart/checkout.html">
    
<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout()" ng-disabled="!ngCart.getTotalItems()" ng-transclude>Checkout</button>
</div>


<div ng-if="service=='paypal'">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" ng-show="ngCart.getTotalItems()">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" value="{{ settings.paypal.business }}">
        <input type="hidden" name="lc" value="CA">
        <input type="hidden" name="item_name" value="{{ settings.paypal.item_name }}">
        <input type="hidden" name="item_number" value="{{ settings.paypal.item_number }}">
        <input type="hidden" name="amount" value="{{ ngCart.getSubTotal()}}">
        <input type="hidden" name="currency_code" value="{{ settings.paypal.currency_code }}">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="tax_rate" value="{{ ngCart.getTaxRate()}}">
        <input type="hidden" name="shipping" value="{{ ngCart.getShipping()}}">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way 
to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

</div>
    
</script>
		
   	<footer>
        	<div class="container">
            <div class="row">
                <div class="col-xs-3">
                	<p class="foothead"><a href="#">HELP</a></p>
                    <p class="footPara"><a href="#">PAYMENTS</a></p>
                    <p class="footPara"><a href="#">SHIPPING</a></p>
                    <p class="footPara"><a href="#">CANCELLATIONS &amp; RETURNS</a></p>
                    <p class="footPara"><a href="#">FAQ</a></p>
                    <p class="footPara"><a href="#">QUALITY CERTIFICATIONS</a></p>
                    <p class="footPara"><a href="#">REPORT INFRIDGMENTS</a></p>
                    <p class="footPara"><a href="#">TAXATION AND INVOICING</a></p>
                </div>
                <div class="col-xs-2">
                	<p class="foothead"><a href="#">KAROBAR.IN</a></p>
                    <p class="footPara"><a href="#">CONTACT US</a></p>
                    <p class="footPara"><a href="#">ABOUT US</a></p>
                    <p class="footPara"><a href="#">CAREERS</a></p>
                    <p class="footPara"><a href="#">BLOG</a></p>
                    <p class="footPara"><a href="#">INVESTORS</a></p>
                    <p class="footPara"><a href="#">MEDIA</a></p>
                    <p class="footPara"><a href="#">CSR</a></p>

                </div>
                <div class="col-xs-2">
                	<p class="foothead">&#160;</p>
                    <p class="footPara"><a href="#">PRIVACY POLICY</a></p>
                    <p class="footPara"><a href="#">SITE MAP</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="foothead"><a href="#">OPTIMET BUYERS / SELLERS</a></p>
                    <p class="footPara"><a href="#">FAQ ( HOW IT WORKS ! )</a></p>
                    <p class="footPara"><a href="#">BECOME OPTIMET ASSOCIATE</a></p>
				     <p class="footPara"><a href="#">PAYMENT POLICY</a></p>
                    <p class="footPara"><a href="#">MATERIAL RETURN </a></p>
                    <p class="footPara"><a href="#">PLANNED DELIVERY BONUS</a></p>
                    <p class="footPara"><a href="#">QUALITY POLICY</a></p>
                </div>
                <div class="col-xs-2">
                    <p class="foothead"><a href="#">KAROBAR SHUTTLE </a></p>			
                    <p class="footPara"><a href="#">TERMS OF USE</a></p>
					<p class="footPara"><a href="#">FAQ( HOW IT WORKS !)</a></p>

                </div>
            </div>
            </div>
            
            <div class="socialIcons">
            <div class="container">
           		<ul class="nav navbar-nav navbar-right">
                	<li><a href="https://www.facebook.com/?_rdr=p"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://plus.google.com/collections/featured"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://in.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
                </ul>
             </div>   
        	</div>
		
        </footer>
		
		
		
		
		
		
	<script src="lib/angular-1.5.0-beta.2/angular.js"></script>
	<script src="lib/angular-1.5.0-beta.2/angular-route.js"></script>
	<script src="lib/angular-1.5.0-beta.2/angular-route.min.js"></script>
	<script src="lib/angular-1.5.0-beta.2/angular-route.min.js.map"></script>
	<script src="lib/ngCart/ngCart.js"></script>
	<script type="text/javascript" src="lib/ngCart/minicart.js"></script>

	<script src="app/main.js"></script>
</body>
</html>