<HTML>
	<HEAD>
		<TITLE>Forgot Password Success</TITLE>
	</HEAD>
	<BODY>
		<div style="position:relative; width:100%;border-bottom:1px solid gray;">
				<img src="http://52.32.100.238/ui/assets/img/izigro-logo.png" style="position:relative;width:25%;height:auto;margin-left:-3%;"/>
		
		<br/>
			Dear Customer You have got your loss Password is $password and  UserName  is $username.
		<br/>
		Thanks for logging <a>iziGro.com</a> 
		<BR/>
	</BODY>	
</HTML>